.admin {
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 400;

    background: #000000cc;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);

    width: 100%;
    height: 50px;

    -webkit-box-shadow: 0px 3px 7px 0px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0px 3px 7px 0px rgba(204, 204, 204, 1);
    box-shadow: 0px 3px 7px 0px rgba(204, 204, 204, 1);

    color: white;

    span:first-child {
      color: #acf57c;
    }
  }

  &__user {
    &__list {
      background: white;
      width: 200px;
      border-radius: 7px;
      padding: 5px;
      margin-bottom: 10px;
    }

    &__form {
      display: flex;
      flex-direction: column;

      label {
        width: 300px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
      }

      button {
        width: 90px;
        outline: none;
        border: none;
        padding: 4px;
        border-radius: 4px;
      }

      &__button {
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        width: 300px;
      }
    }
  }
}
