@import "antd/dist/antd.css";

header {
  background: #000000cc;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  position: sticky;
  top: 0;
  z-index: 200;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;

  -webkit-box-shadow: 0px 3px 7px 0px rgba(204, 204, 204, 1);
  -moz-box-shadow: 0px 3px 7px 0px rgba(204, 204, 204, 1);
  box-shadow: 0px 3px 7px 0px rgba(204, 204, 204, 1);
}

body {
  background: #f1f0f1;
}

.ant-modal-mask {
  z-index: 0;
}
