.navbar--mobile {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .menu {
    padding-left: 20px;
    width: 55px;
    height: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    hr {
      width: 18px;
      border: 0;
      height: 1px;
      background: #d6d6d6;
      margin: 3px;

      &:first-child {
        transition: margin 0.5s, transform 0.5s;
        transition-timing-function: ease;
      }

      &:last-child {
        transition: margin 0.2s, transform 0.5s;
        transition-timing-function: ease;
      }
    }

    .hr1 {
      margin: 0;
      transform: rotate(45deg);
      transition: margin 0.5s, transform 0.5s;
      transition-timing-function: ease;
    }

    .hr2 {
      margin-top: -1px;
      transform: rotate(-45deg);
      transition: margin 0.5s transform 0.5s;
      transition-timing-function: ease;
    }

    &:hover {
      cursor: pointer;

      hr {
        background: white;
      }
    }
  }

  .logo {
    span {
      color: #acf57c;

      :hover {
        color: #acf57c;
      }
    }
  }

  .search {
    color: #d6d6d6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 44px;
    height: 44px;

    :hover {
      color: white;
      cursor: pointer;
    }
  }

  .item {
    span {
      color: #d6d6d6;

      &:hover {
        color: white;
      }
    }
  }
}

.login {
  color: #cccccc;

  &:hover {
    color: white;
  }
}
