.shoppingCart {
  .wrapper {
    width: 800px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--left {
      .button {
        background: #f1f0f1;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;

        &__icon {
          margin-right: 10px;
        }

        a {
          padding: 10px 20px;
          background: #4caf50;
          color: white;
          border-radius: 4px;
        }

        button {
          display: flex;
          align-items: center;
          background: #d10a00;
          border: none;
          border-radius: 4px;
          color: white;
          padding: 10px 10px;

          &.disable {
            pointer-events: none;
            opacity: 0.5;
          }
        }
      }

      .item {
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
        margin: 5px 0;

        img {
          height: auto;
          max-width: 115px;
        }

        &__title {
          width: 100px;
          margin-left: 20px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          span {
            &:first-child {
              font-size: 18px;
              color: black;
            }

            &:last-child {
              cursor: pointer;
              background: none;
              border: none;
              color: #d10a00;
            }
          }
        }

        &__price {
          width: 270px;
          display: flex;
          flex-direction: column;
          margin-right: 20px;

          &__money {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;

            &--bold {
              font-weight: bold;
              font-size: 20px;
              margin-left: 5px;
            }

            &--blur {
              color: #9a9a9a;
              text-decoration: line-through;

              + span {
                margin-left: 5px;
                color: #9a9a9a;
              }
            }
          }

          &__counter {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            input {
              text-align: center;
              width: 30px;
              height: 30px;
              outline: none;
              border: 1px solid #e8e8e8;
            }

            button {
              width: 30px;
              height: 30px;
              outline: none;
              border: 1px solid #e8e8e8;
            }
          }
        }
      }
    }

    &--right {
      height: 200px;
      padding: 20px;
      background: white;
      position: sticky;
      top: 44px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .pricing {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div:nth-child(1),
        div:nth-child(2) {
          display: flex;
          flex-direction: column;
        }

        div:nth-child(1) {
          span {
            &:nth-child(4) {
              font-weight: bold;
              font-size: 20px;
            }
          }
        }

        div:nth-child(2) {
          span {
            text-align: end;

            &:nth-child(4) {
              font-weight: bold;
              font-size: 20px;
            }
          }
        }
      }

      button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffc439;
        color: white;
        border: none;
        padding: 7px 35px;

        span {
          font-size: 16px;
          font-weight: 500;
          margin-left: 10px;
        }
      }
    }
  }

  @media (max-width: 970px) {
    .wrapper {
      width: 400px;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
